$navbar-default-bg: #0ba845;

@import "bootstrap-sprockets";
@import "bootstrap";

// html, body {
//   height: 100%;
//   margin: 0;
//   padding: 0;
// }

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('leaves.jpeg');
  background-size: cover;
  height: 650px;
}

.jumbotron h1 {
  color: #0ba845;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-jumbotron {
  font-size: 1.7em;
  background-color: #0ba845;
}

.btn-create {
  margin: 10px 0 0 10px;
}

.btn-cancel {
  margin: 10px 0 0 70px;
}

#title {
  padding-right: 49px;
}

.footer {
  padding-top: 5px;
  border-top: 1px solid #0ba845;
  color: #777;
}

.footer a:hover {
  color: #222;
}

.footer small {
  float: right;
}

.footer ul {
  float: left;
  list-style: none;
}

.footer ul li {
  float: right;
  margin-right: 15px;
}

.footer ul li a {
  color: #0ba845;
}

.border {
  border: 1px solid red;
}
